{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <section class="app-section cover">
        <img src="{{ asset('img/sitecover.webp') }}" alt="Bastard Booking System"/>
        <div class="content">
            <h1>Bastard Booking System</h1>
            <p>Va donc jouer dehors&nbsp;!</p>
        </div>
    </section>

    <section class="app-section post-figure">
        <h2>Titre</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloremque id ipsam laudantium maiores odio recusandae suscipit. Delectus eos fuga iste quod? Asperiores, ducimus earum laboriosam molestiae nemo nulla ratione.</p>
    </section>
{% endblock %}
