$black: #222222;
$white: #f3efef;
$primary: #a4036f;
$secondary: #0e3b43;
$third: #ffd166;
$info: #36739c;
$success: #10784b;
$warning: #d8802a;
$danger: #d43747;

$font-primary: "Dosis", sans-serif;
$font-secondary: "Roboto", sans-serif;
