<footer class="app-footer">
    <div class="footer-credits">
        <p>
            &copy; {{ 'now' | date('Y') }} Bastard Sound System. Tous droits réservés.
            Crédits Photos&nbsp;: ChatGPT.
        </p>
    </div>
</footer>
