<header class="app-header">
    <a href="{{ path('app_home') }}" class="app-logo">
        <img src="{{ asset('img/sitelogo.webp') }}" alt="Logo" />
    </a>

    {% include '_layout/_navigation.html.twig' %}
    {% include '_layout/_account.html.twig' %}
</header>
